.Sidebar {
    float: left;
    height: 100%;
    width: 75px;
    background-color: #121219;
    -webkit-user-select: none;
    overflow-y: scroll;
    position: relative;
}

.Sidebar::-webkit-scrollbar {
    width: 0 !important
}

.Sidebar-notifier {
    width: 30px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: -25px;
    transform: translateY(15px);
    background-color: #777;
}
